body{
  padding-top:80px;
  word-wrap:break-word;
  background-image: url(img/barista-1.jpg);
  /* background-repeat: no-repeat;  */
  background-size: 50em;
}
img{
  height: 200px;
}

.containerBoba{
  width:80%;
  background-color: antiquewhite;
  margin-left:10%;
}

h3,h4{
  text-align: center;
  font-weight:bolder;
}
.jumbotron{
width:40%;
}

.messages{
  padding:5%;
  font-size: 15px;
  margin-left:25%;
  font-weight: bolder;
  background-color: rgb(236, 201, 155);
  width: 55%;
}
.cashierContainer{
  position:absolute;
  bottom:25%;
  right:10%;
  background-color: antiquewhite;
  width:45%;
  height:50%;
  text-align: center;
}
.well{
padding:5%;
margin-left:10%;
font-size: 15px;
}
.cashierTitle{
  padding: 5%;
  /* margin:10%; */
  font-size: 18px;
}

button{
  margin:5%;
}